  body {
    background-color: #EAF6F6;
  }
  hr {
    border-Style: none;
    border-color: grey;
    border-top-style: dotted;
    border-width: 5px;
    width: 4%;
  }
  h1 {
    color: #66bfbf
  }
  h3 {
    color: #66bfbf
  }
